{% extends 'player/base.html' %}

{% load static %}

{% block content %}
            <!-- Place add start -->
    <section class="pb-5">
      <div class="container-fluid">
          <div class="row justify-content-center">
              <div class="col-md-12">
                  <div class="place_ad_body my-3">
                      <div class="row">
                          <div class="col-md-6 py-2 d-flex align-items-center">
                              <div class="ad_left d-flex align-items-center">
                                  <h5><a href="">Want to Remove Ads?</a></h5>
                              </div>
                          </div>
                          <div class="col-md-6 py-2 d-flex align-items-center">
                              <div class="ad_right d-flex align-items-center">
                                  <h5>Sign up to <a href="">Oliver Premium</a> and get no ads, research applications, discounts and more!</h5>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
   <!-- Place add end -->
    <div class="search_body">
        <div class="search_box">
            <form action="">
             <div class="form-group">
                 <input type="text" class="form-control search_control"  placeholder="Search here">
               </div>
               <div class="search">
                <button>Search</button>
            </div>
            </form>
    
         </div>
                 <div class="close_search">
                <img src="{% static 'images/x-button.svg' %}" alt="">
            </div>
    </div>
    
     <!-- Menu part end -->

    <!-- banner part start -->

    <section>
      <div class="scoreboard_banner" id="parallax">
        <div class="scorecard_conatiner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="scoreboard_title">
                    <h2>Schedule / <span>Scoreboard</span></h2>
                </div>
            </div>
        </div>
    </div>
        </div>
      </div>
    </section>
    <!-- banner part end -->

    <!-- Score section start -->

    <section class="py-5 score_section">
        <div class="container">
          <div class="row justify-content-center py-5">
            <div class="col-md-6">
              <div class="select_date">
                <button>Prev</button>
                <p>10/10/21</p>
                <button>Next</button>
              </div>
            </div>
          </div>
            <div class="row justify-content-center">
                <div class="col-md-6 py-3">
                    <div class="teams_score_body">
                        <div class="top_teams_part">
                            <div class="row justify-content-center py-3">
                                <div class="col-md-4 py-2 col-12 d-flex align-items-center justify-content-between">
                                    <div class="team_logo_score">
                                        <img src="{% static 'images/ebl_h31_LG.png' %}" alt="" class="img-responsive">
                                    </div>
                                    <div class="team_name_score">
                                        <p>DOOSAN</p>
                                    </div>
                                </div>
                                <div class="col-md-4 py-2 col-12 d-flex align-items-center">
                                    <div class="team_score">
                                        <p>13:00</p>
                                    </div>
                                </div>
                                <div class="col-md-4  py-2 col-12 d-flex align-items-center justify-content-between">
                                    <div class="team_name_score">
                                        <p>LG</p>
                                    </div>
                                    <div class="team_logo_score">
                                        <img src="{% static 'images/ebl_h31_OB.png' %}" alt="" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="score_cart">
                            <p>JAMSIL <span>13:00</span></p>
                            <div class="score_table table-responsive">
                                <table class="table table-sm" style="font-size: 13px;">
                                    <thead style="background-color: rgb(233, 250, 252);">
                                      <tr>
                                        <th scope="col">TEAM</th>
                                        <th scope="col">1</th>
                                        <th scope="col">2</th>
                                        <th scope="col">3</th>
                                        <th scope="col">4</th>
                                        <th scope="col">5</th>
                                        <th scope="col">6</th>
                                        <th scope="col">7</th>
                                        <th scope="col">8</th>
                                        <th scope="col">9</th>
                                        <th scope="col">10</th>
                                        <th scope="col">11</th>
                                        <th scope="col">12</th>
                                        <th scope="col">13</th>
                                        <th scope="col">14</th>
                                        <th scope="col">15</th>
                                        <th scope="col">R</th>
                                        <th scope="col">H</th>
                                        <th scope="col">E</th>
                                        <th scope="col">B</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row" style="background-color: rgb(233, 250, 252);">DOOSAN</th>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td>
                                          
                                        </td>
                                        <td>
                                          
                                        </td>
                                        <td>
                                          
                                        </td>
                                      </tr>
                                      <tr>
                                        <th scope="row" style="background-color: rgb(233, 250, 252);">LG</th>
                                        <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            
                                          </td>
                                          <td>
                                            
                                          </td>
                                          <td>
                                            
                                          </td>
                                          <td>
                                            
                                          </td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="teams_score_body">
                        <div class="top_teams_part">
                            <div class="row justify-content-center py-3">
                                <div class="col-md-4 py-2 col-12 d-flex align-items-center justify-content-between">
                                    <div class="team_logo_score">
                                        <img src="{% static 'images/ebl_h31_LG.png' %}" alt="" class="img-responsive">
                                    </div>
                                    <div class="team_name_score">
                                        <p>DOOSAN</p>
                                    </div>
                                </div>
                                <div class="col-md-4 py-2 col-12 d-flex align-items-center">
                                    <div class="team_score">
                                        <p>13:00</p>
                                    </div>
                                </div>
                                <div class="col-md-4  py-2 col-12 d-flex align-items-center justify-content-between">
                                    <div class="team_name_score">
                                        <p>LG</p>
                                    </div>
                                    <div class="team_logo_score">
                                        <img src="{% static 'images/ebl_h31_OB.png' %}" alt="" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="score_cart">
                            <p>JAMSIL <span>13:00</span></p>
                            <div class="score_table table-responsive">
                                <table class="table table-sm" style="font-size: 13px;">
                                    <thead style="background-color: rgb(233, 250, 252);">
                                      <tr>
                                        <th scope="col">TEAM</th>
                                        <th scope="col">1</th>
                                        <th scope="col">2</th>
                                        <th scope="col">3</th>
                                        <th scope="col">4</th>
                                        <th scope="col">5</th>
                                        <th scope="col">6</th>
                                        <th scope="col">7</th>
                                        <th scope="col">8</th>
                                        <th scope="col">9</th>
                                        <th scope="col">10</th>
                                        <th scope="col">11</th>
                                        <th scope="col">12</th>
                                        <th scope="col">13</th>
                                        <th scope="col">14</th>
                                        <th scope="col">15</th>
                                        <th scope="col">R</th>
                                        <th scope="col">H</th>
                                        <th scope="col">E</th>
                                        <th scope="col">B</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row" style="background-color: rgb(233, 250, 252);">DOOSAN</th>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td>
                                          
                                        </td>
                                        <td>
                                          
                                        </td>
                                        <td>
                                          
                                        </td>
                                      </tr>
                                      <tr>
                                        <th scope="row" style="background-color: rgb(233, 250, 252);">LG</th>
                                        <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            
                                          </td>
                                          <td>
                                            
                                          </td>
                                          <td>
                                            
                                          </td>
                                          <td>
                                            
                                          </td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="teams_score_body">
                        <div class="top_teams_part">
                            <div class="row justify-content-center py-3">
                                <div class="col-md-4 py-2 col-12 d-flex align-items-center justify-content-between">
                                    <div class="team_logo_score">
                                        <img src="{% static 'images/ebl_h31_LG.png' %}" alt="" class="img-responsive">
                                    </div>
                                    <div class="team_name_score">
                                        <p>DOOSAN</p>
                                    </div>
                                </div>
                                <div class="col-md-4 py-2 col-12 d-flex align-items-center">
                                    <div class="team_score">
                                        <p>13:00</p>
                                    </div>
                                </div>
                                <div class="col-md-4  py-2 col-12 d-flex align-items-center justify-content-between">
                                    <div class="team_name_score">
                                        <p>LG</p>
                                    </div>
                                    <div class="team_logo_score">
                                        <img src="{% static 'images/ebl_h31_OB.png' %}" alt="" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="score_cart">
                            <p>JAMSIL <span>13:00</span></p>
                            <div class="score_table table-responsive">
                                <table class="table table-sm" style="font-size: 13px;">
                                    <thead style="background-color: rgb(233, 250, 252);">
                                      <tr>
                                        <th scope="col">TEAM</th>
                                        <th scope="col">1</th>
                                        <th scope="col">2</th>
                                        <th scope="col">3</th>
                                        <th scope="col">4</th>
                                        <th scope="col">5</th>
                                        <th scope="col">6</th>
                                        <th scope="col">7</th>
                                        <th scope="col">8</th>
                                        <th scope="col">9</th>
                                        <th scope="col">10</th>
                                        <th scope="col">11</th>
                                        <th scope="col">12</th>
                                        <th scope="col">13</th>
                                        <th scope="col">14</th>
                                        <th scope="col">15</th>
                                        <th scope="col">R</th>
                                        <th scope="col">H</th>
                                        <th scope="col">E</th>
                                        <th scope="col">B</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row" style="background-color: rgb(233, 250, 252);">DOOSAN</th>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td>
                                          
                                        </td>
                                        <td>
                                          
                                        </td>
                                        <td>
                                          
                                        </td>
                                      </tr>
                                      <tr>
                                        <th scope="row" style="background-color: rgb(233, 250, 252);">LG</th>
                                        <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            
                                          </td>
                                          <td>
                                            
                                          </td>
                                          <td>
                                            
                                          </td>
                                          <td>
                                            
                                          </td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="teams_score_body">
                        <div class="top_teams_part">
                            <div class="row justify-content-center py-3">
                                <div class="col-md-4 py-2 col-12 d-flex align-items-center justify-content-between">
                                    <div class="team_logo_score">
                                        <img src="{% static 'images/ebl_h31_LG.png' %}" alt="" class="img-responsive">
                                    </div>
                                    <div class="team_name_score">
                                        <p>DOOSAN</p>
                                    </div>
                                </div>
                                <div class="col-md-4 py-2 col-12 d-flex align-items-center">
                                    <div class="team_score">
                                        <p>13:00</p>
                                    </div>
                                </div>
                                <div class="col-md-4  py-2 col-12 d-flex align-items-center justify-content-between">
                                    <div class="team_name_score">
                                        <p>LG</p>
                                    </div>
                                    <div class="team_logo_score">
                                        <img src="{% static 'images/ebl_h31_OB.png' %}" alt="" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="score_cart">
                            <p>JAMSIL <span>13:00</span></p>
                            <div class="score_table table-responsive">
                                <table class="table table-sm" style="font-size: 13px;">
                                    <thead style="background-color: rgb(233, 250, 252);">
                                      <tr>
                                        <th scope="col">TEAM</th>
                                        <th scope="col">1</th>
                                        <th scope="col">2</th>
                                        <th scope="col">3</th>
                                        <th scope="col">4</th>
                                        <th scope="col">5</th>
                                        <th scope="col">6</th>
                                        <th scope="col">7</th>
                                        <th scope="col">8</th>
                                        <th scope="col">9</th>
                                        <th scope="col">10</th>
                                        <th scope="col">11</th>
                                        <th scope="col">12</th>
                                        <th scope="col">13</th>
                                        <th scope="col">14</th>
                                        <th scope="col">15</th>
                                        <th scope="col">R</th>
                                        <th scope="col">H</th>
                                        <th scope="col">E</th>
                                        <th scope="col">B</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row" style="background-color: rgb(233, 250, 252);">DOOSAN</th>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                          -
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td>
                                          
                                        </td>
                                        <td>
                                          
                                        </td>
                                        <td>
                                          
                                        </td>
                                      </tr>
                                      <tr>
                                        <th scope="row" style="background-color: rgb(233, 250, 252);">LG</th>
                                        <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            -
                                          </td>
                                          <td>
                                            
                                          </td>
                                          <td>
                                            
                                          </td>
                                          <td>
                                            
                                          </td>
                                          <td>
                                            
                                          </td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Score section end -->
   
{% endblock %}