{% extends 'player/base.html' %}

{% load static %}

{% block content %}
              <!-- Place add start -->
    <section class="pb-5">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="place_ad_body my-3">
                        <div class="row">
                            <div class="col-md-6 py-2 d-flex align-items-center">
                                <div class="ad_left d-flex align-items-center">
                                    <h5><a href="">Want to Remove Ads?</a></h5>
                                </div>
                            </div>
                            <div class="col-md-6 py-2 d-flex align-items-center">
                                <div class="ad_right d-flex align-items-center">
                                    <h5>Sign up to <a href="">Oliver Premium</a> and get no ads, research applications, discounts and more!</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!-- Place add end -->
      <div class="search_body">
          <div class="search_box">
              <form action="">
               <div class="form-group">
                   <input type="text" class="form-control search_control"  placeholder="Search here">
                 </div>
                 <div class="search">
                  <button>Search</button>
              </div>
              </form>
      
           </div>
                   <div class="close_search">
                  <img src="images/x-button.svg" alt="">
              </div>
      </div>
      
       <!-- Menu part end -->

    <!-- banner part start -->

    <section>
      <div class="scoreboard_banner" id="parallax">
        <div class="scorecard_conatiner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="scoreboard_title">
                    <h2>Oliver / <span>Team Standing</span></h2>
                </div>
            </div>
        </div>
    </div>
        </div>
      </div>
    </section>
    <!-- banner part end -->

    <!-- Score section start -->

    <section class="py-5 score_section">
        <div class="container">
          <div class="row justify-content-center py-5">
            <div class="col-md-6">
              <div class="select_date">
                <button>Prev</button>
                <p>10/10/21</p>
                <button>Next</button>
              </div>
            </div>
          </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="schedule_table table-responsive" style="font-size: 13px;">
                        <table class="table table-sm table table-bordered">
                            <colgroup>
                                <col style="width:auto;">
                            </colgroup>
    
                            <thead style="background-color: rgb(233, 250, 252);">
                                <tr>
                                    <th scope="col"><span>RK</span></th>
                                    <th scope="col"><span>TEAM</span></th>
                                    <th scope="col"><span>GAMES</span></th>
                                    <th scope="col" ><span>W</span></th>
                                    <th scope="col"><span>L</span></th>
                                    <th scope="col"><span>D</span></th>
                                    <th scope="col"><span>PCT</span></th>
                                    <th scope="col"><span>GB</span></th>
                                    <th scope="col"><span>STREAK</span></th>
                                    <th scope="col"><span>HOME</span></th>
                                    <th scope="col"><span>AWAY</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                
        <tr class="standing_first">
            <td title="RK">1</td>
            <td title="TEAM">SAMSUNG</td>
            <td title="GAMES">5</td>
            <td title="W">2</td>
            <td title="L">0</td>
            <td title="D">3</td>
            <td title="PCT">1.000</td>
            <td title="GB">0.0</td>
            <td title="STREAK">W2</td>
            <td title="HOME">1-0-2</td>
            <td title="AWAY">1-0-1</td>
        </tr>
        
        <tr class="">
            <td title="RK">2</td>
            <td title="TEAM">HANWHA</td>
            <td title="GAMES">5</td>
            <td title="W">4</td>
            <td title="L">1</td>
            <td title="D">0</td>
            <td title="PCT">0.800</td>
            <td title="GB">-0.5</td>
            <td title="STREAK">W1</td>
            <td title="HOME">1-0-0</td>
            <td title="AWAY">3-1-0</td>
        </tr>
        
        <tr class="">
            <td title="RK">2</td>
            <td title="TEAM">LOTTE</td>
            <td title="GAMES">5</td>
            <td title="W">4</td>
            <td title="L">1</td>
            <td title="D">0</td>
            <td title="PCT">0.800</td>
            <td title="GB">-0.5</td>
            <td title="STREAK">L1</td>
            <td title="HOME">3-0-0</td>
            <td title="AWAY">1-1-0</td>
        </tr>
        
        <tr class="">
            <td title="RK">4</td>
            <td title="TEAM">KT</td>
            <td title="GAMES">5</td>
            <td title="W">3</td>
            <td title="L">1</td>
            <td title="D">1</td>
            <td title="PCT">0.750</td>
            <td title="GB">0.0</td>
            <td title="STREAK">L1</td>
            <td title="HOME">2-1-1</td>
            <td title="AWAY">1-0-0</td>
        </tr>
        
        <tr class="">
            <td title="RK">5</td>
            <td title="TEAM">KIA</td>
            <td title="GAMES">5</td>
            <td title="W">3</td>
            <td title="L">2</td>
            <td title="D">0</td>
            <td title="PCT">0.600</td>
            <td title="GB">0.5</td>
            <td title="STREAK">W1</td>
            <td title="HOME">1-1-0</td>
            <td title="AWAY">2-1-0</td>
        </tr>
        
        <tr class="">
            <td title="RK">6</td>
            <td title="TEAM">KIWOOM</td>
            <td title="GAMES">5</td>
            <td title="W">1</td>
            <td title="L">1</td>
            <td title="D">3</td>
            <td title="PCT">0.500</td>
            <td title="GB">1.0</td>
            <td title="STREAK">W1</td>
            <td title="HOME">0-0-0</td>
            <td title="AWAY">1-1-3</td>
        </tr>
        
        <tr class="">
            <td title="RK">7</td>
            <td title="TEAM">LG</td>
            <td title="GAMES">5</td>
            <td title="W">1</td>
            <td title="L">3</td>
            <td title="D">1</td>
            <td title="PCT">0.250</td>
            <td title="GB">2.0</td>
            <td title="STREAK">L1</td>
            <td title="HOME">0-1-0</td>
            <td title="AWAY">1-2-1</td>
        </tr>
        
        <tr class="">
            <td title="RK">7</td>
            <td title="TEAM">NC</td>
            <td title="GAMES">5</td>
            <td title="W">1</td>
            <td title="L">3</td>
            <td title="D">1</td>
            <td title="PCT">0.250</td>
            <td title="GB">2.0</td>
            <td title="STREAK">L3</td>
            <td title="HOME">1-3-1</td>
            <td title="AWAY">0-0-0</td>
        </tr>
        
        <tr class="">
            <td title="RK">9</td>
            <td title="TEAM">DOOSAN</td>
            <td title="GAMES">5</td>
            <td title="W">1</td>
            <td title="L">4</td>
            <td title="D">0</td>
            <td title="PCT">0.200</td>
            <td title="GB">2.5</td>
            <td title="STREAK">W1</td>
            <td title="HOME">0-4-0</td>
            <td title="AWAY">1-0-0</td>
        </tr>
        
        <tr class="">
            <td title="RK">10</td>
            <td title="TEAM">SSG</td>
            <td title="GAMES">5</td>
            <td title="W">0</td>
            <td title="L">4</td>
            <td title="D">1</td>
            <td title="PCT">0.000</td>
            <td title="GB">3.0</td>
            <td title="STREAK">L4</td>
            <td title="HOME">0-1-1</td>
            <td title="AWAY">0-3-0</td>
        </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Score section end -->
  
{% endblock %}